<h3>Подтверждение заказа в Pragmatic Store</h3>
<hr />
<p>
  Администрация магазина Pragmatic Store благодарит Вас за недавний заказ.
</p>
Вы заказали следующие позиции:
<table border=0>
  <tr>
    <th>Наименование позиции</th><th>Цена</th><th>К-во</th><th>Итого</th>
  </tr>
  <%= render @order.line_items %>
  <tr>
	<td> Общая сумма Вашего заказа:
		<%= number_to_currency(@order.order_sum) %>
	</td>
  </tr>
</table>

Когда Ваш заказ будет отправлен, мы пошлем Вам по электронной почте
отдельное сообщение.
<br>
C уважением, администрация магазина "Pragmatic Store".
