<h3>Заказ из Pragmatic Order отправлен.</h3>
<p>
  Это сообщение уведомляет Вас, что мы отправили ваш заказ:
</p>
<table border=0>
  <tr>
    <th>Наименование позиции</th><th>Цена</th><th>К-во</th><th>Итого</th>
  </tr>
  <%= render @order.line_items %>
</table>
<hr />
C уважением, администрация магазина "Pragmatic Store".
