<style>
#warning_price_block{
    color: #FF6347;
  display: inline;
   margin: 20px;
   font-size: small;
}
</style>

<div id="warning_price_block">
  Sum in your's cart is biggest then 1 000 ₴, be attentive!
</div>
