<style>
#warning_price_block{
    color: red;
  display: inline;
   margin: 20px;
   font-size: small;
}
</style>

<div id="warning_price_block">
  Sum in yours cart is biggest then 1 000 ₴, be attentive!
</div>
