/* ---- стиль для пагинации ------*/
.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: right;
  padding: 1px;
  cursor: default;
  a, span {
    padding: 0.2em 0.3em;
  }
  .disabled {
    color: #aaaaaa;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
  }
  a {
    text-decoration: none;
    color: black;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

.store_pag{
	margin: -0.5em 0;
  }

.product_pag{
  margin: 0.2em 0;
  }
/* конец пагинации */


/* -------------- баннер ----------------- */
#banner {
  background: #9c9;
  padding: 10px;
  border-bottom: 3px solid;
  border-right: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center;

  img {
    float: left;
  }

}

.locale {
  float: right;
  margin: -0.25em 0.1em;
}

/* конец баннера */



#notice {
 color: #000 !important;
 border: 2px solid red;
 padding: 1em;
 margin-bottom: 2em;
 background-color: #f0f0f0;
 font: bold smaller sans-serif;
}

#columns {
  background: #141;

  #main {
    margin-left: 25em;
    padding: 1em;
    background: white;
  }

  #side {
    float: left;
    padding: 1em 2em;
    width: 20em;
    background: #141;

	form, div {
	  display: inline;
	}
	input {
	  font-size: small;
	}

	#cart {
	  font-size: smaller;
	  color: white;
	}

	table {
 	  /*border-top: 1px dotted #595;
	  border-bottom: 1px dotted #595;*/
	  margin-bottom: 10px;
	}



    ul {
      padding: 0;

      li {
        list-style: none;

        a {
          color: #bfb;
          font-size: small;
        }
      }
    }

  }
}

#date {
   border-color: red;
          color: #9c9;
  border-bottom: 2px solid;
          width: 100%;
     text-align: center;

}

.button_to {
  display: inline;
}


/* ------------ Корзина -------------- */
#cart_table {
  th {
    color: #282;
    font-size: 18px;
  }
  #total_cell, .total_line {
     font-weight: bold;
     text-align: right;
     border-top: 1px solid;
  }
  .item_price {
    text-align: right;
  }
  .quantity{
    text-align: center;
   }
}


/* Для вывода отладочной инофрмации */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}



/* ------- форма заказа ---------------*/

.depot_form {

  fieldset {
	background: #9c9;
    legend {
        color: #dfd;
        background: #141;
        font-family: sans-serif;
        padding: 0.2em 1em;
    }
  }

  form {
    label {
      width: 6em;
      float: left;
      text-align: right;
      padding-top: 0.2em;
      margin-right: 0.1em;
      display: block;
    }
    select, textarea, input {
      margin-left: 0.5em;
    }
    .submit {
      margin-left: 4em;
    }
    br {
      display: none
    }
    hr{
	  width: 29em;
	  text-align: left;
	  margin-left: 0;	/*без маргина text-align не срабатывает */
	}
  }

}

.field_with_errors {   /* выделение полей, не прошедших валидацию */
  padding: 1px;
  background-color: orange;
  display: table;
}

/* конец формы заказа */


/* ------ Таблица редактирования данных пользователя ----- */
#user_fields {
  border-width: 5px;

  td.border_bottom {
	border-bottom: 1px;
	background: #fc3;
  }
}


/* --------- Таблица заказов ------------ */
#table_orders{
  td {
    padding: 0px;
    padding-left: 0px;
    padding-right: 11px;
	padding-bottom: 2px;
  }
}

/* ------- стиль для полей поиска --------*/
input.search{
          border: 1px solid #cccccc; //цвет рамки
   border-radius: 5px;              //закругление углов (общее)
   -webkit-border-radius: 3px;     //закругление углов (Google Chrome)
      -moz-border-radius: 3px;    //закругление углов (FireFox)
    -khtml-border-radius: 3px;   //закругление углов (Safari)
   background: #ffffff !important; // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым
      outline: none;              // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
       height: 1.5em;            // высота на свое усмотрение
        width: 12em;            // ширина на свое усмотрение
        color: #cc1ccc;        //цвет шрифта в обычном состоянии
    font-size: 1em;           // Размер шрифта
  font-family: Vernada;      // Стиль шрифта
    transition: box-shadow 0.3s, border 0.3s;
}

.style-1 input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
