@import "bootstrap";

body {
	margin: 3px;
}

/* ---------- nav-menu --------- */
/* ---------- bootstrap -------- */
#nav_shared {
  width:  90%;
  color:  red;
  border: solid 2px yellow;
  margin: 2px;
  background-color:#990066;
  float:  none;
}


#nav_admin {
  width:  90%;
  color:  #337AB7;
  margin: 2em;
  #btn_logout{
    margin: 11px;
  }
}

ul {
    float:       left;
    list-style:  none;
  	border:      solid 1px red;
	margin:      1.5em 2em 0 0;
	font-weight: bold;
    li {
      float: left;
    }
}
/* ---------- bootstrap ---------- */
/* -------- end nav-menu ----------*/




/* ---- стиль для пагинации ------*/
/*--------------------------------*/
.pagination {
	margin:7px;  /*переопределение базовой пагинации `bootstrap`*/
	border-radius: 5px;
}
.apple_pagination {
  background: #f1f1f1;
  border:     1px solid #e5e5e5;
  border-bottom: 1px solid black;
 /* border-top: 1px solid black;*/
  border-right: 1px solid black;
  text-align: right;
  padding:    1px;
  cursor:     default;
  a, span {
    padding: 0.2em 0.3em;
  }
  .disabled {
    color: #aaaaaa;
  }
  .current {
    font-style:       normal;
    font-weight:      bold;
    background-color: #bebebe;
    display:          inline-block;
    width:       1.4em;
    height:      1.4em;
    line-height: 1.5em;
    -moz-border-radius:    1em;
    -webkit-border-radius: 1em;
    border-radius:         1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
  }
  a {
    text-decoration: none;
    color:           black;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

.store_pag{
	margin: -0.5em 0;
  }

.product_pag{
  margin: 0.2em 0;
  }
/* конец пагинации */


/* -------------- баннер ----------------- */
#banner {
  background: #9c9;
  padding: 10px;
  border-bottom: 3px solid;
  border-right: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center;

  img {
    float: left;
  }

}

.locale {
  float: right;
  margin: -0.25em 0.1em;
}

.selectpicker {
  font-size: 19px;
}

/* конец баннера */



#notice {
 color: #000 !important;
 border: 2px solid red;
 padding: 1em;
 margin-bottom: 2em;
 background-color: #f0f0f0;
 font: bold smaller sans-serif;
}

#columns {
  background: #141;
   border: solid 5px red;
  a {
    font: 1.2em/1.2em "DejaVu", serif;
  }

  #main {
    margin-left: 35%;
    padding: 1em;
    background: white;
	border: solid 3px yellow;
  }

  #side {
    float: left;
    padding: 1em 2em;
    width: 35%;
    background: #141;
	border: solid 3px blue;

	form {
	  display: inline;
	}
	input {
	  font-size: small;
	}

	#cart {
      border: dotted 3px black;
	  font-size: smaller;
	  color: white;
	  .btn{
	    color: black;
	    /*width: 5em;
	    height: 1.5em;*/
	    padding-left: 10px;
	    padding-right: 10px;
	  }
	}

	table {
 	  /*border-top: 1px dotted #595;
	  border-bottom: 1px dotted #595;*/
	  margin-bottom: 10px;
	}
  }
}


/*--------------   Store  ------------- */
h1 {
  font: 35px/35px "Palatino Linotype", serif;
}

h2 {
  font: 30px/30px "Times New Roman", serif;
}

.entry{
  hr {
	margin: 5px;
  }
  background: #f1f1f1;
  #last_line_in_product{
    td {
 	  border: solid 0px red;
      padding-top: 0.5em;
	  font-size: 18px;
    }
    #cell_button_add {
      padding-left: 1em;
    }
  }
}



#date {
  border-bottom: 2px solid;
   border-color: red;
          color: #9c9;
          width: 100%;
     text-align: center;
}



/* ------------ Корзина -------------- */

.h3_cart{
  font: "DejaVu";
  font-weight: bold;
}
#cart_table {
  width: 95%;
  th {
    color:       #282;
    font-size:   18px;
	padding:     3px;
	white-space: nowrap;
  }
  td{
	  font-size:   14px;
	padding-bottom: 5px;
 	border: solid 0px red;
  }
  .total_cell {
     text-align:  right;
     border-top:  1px solid;
	 font-weight: bold;
	 font-size:   14px;
	 font: "DejaVu", serif;
  }
  .item_price {
    text-align: right;
  }
  .quantity{
    text-align: center;
   }
  #delete_cell{
	padding-left: 1.5em;
	width: 5em;
	.btn{
	  color: black;
	  /*width: 5em;
	  height: 1.5em;*/
	  padding-left: 10px;
	  padding-right: 10px;
	}
  }

}



/* Для вывода отладочной инофрмации */
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}



/* ------- форма заказа ---------------*/

.depot_form {

  fieldset {
	background: #9c9;
    legend {
        color: #dfd;
        background: #141;
        font-family: sans-serif;
        padding: 0.2em 1em;
    }
  }

  form {
    label {
      width: 6em;
      float: left;
      text-align: right;
      padding-top: 0.2em;
      margin-right: 0.1em;
      display: block;
    }
    select, textarea, input {
      margin-left: 0.5em;
    }
    .submit {
      margin-left: 4em;
    }
    br {
      display: none
    }
    hr{
	  width: 29em;
	  text-align: left;
	  margin-left: 0;	/*без маргина text-align не срабатывает */
	}
  }

}

.field_with_errors {    /* выделение полей, не прошедших валидацию */
  padding: 1px;
  background-color: #FFA54F;
/*   background: #FF6347; */
  display: table;
}

/* конец формы заказа */


/* ------ Таблица редактирования данных пользователя ----- */
#user_fields {
  border-width: 5px;

  td.border_bottom {
	border-bottom: 1px;
	background: #fc3;
  }
}


/* --------- Таблица заказов ------------ */
#table_orders{
  td {
    padding:        0px;
    padding-left:   0px;
    padding-right:  11px;
	padding-bottom: 2px;
  }
}

/* --------- стиль для полей поиска ---------*/
/* после применения `bootstrap` не актуально */
input.search{
          border: 1px solid #cccccc; //цвет рамки
   border-radius: 5px;              //закругление углов (общее)
   -webkit-border-radius: 5px;     //закругление углов (Google Chrome)
      -moz-border-radius: 5px;    //закругление углов (FireFox)
    -khtml-border-radius: 3px;   //закругление углов (Safari)
   background: #ffffff !important; // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым
      outline: none;              // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
       height: 1.5em;            // высота на свое усмотрение
        width: 12em;            // ширина на свое усмотрение
        color: #cc1ccc;        //цвет шрифта в обычном состоянии
    font-size: 1em;           // Размер шрифта
  font-family: Vernada;      // Стиль шрифта
    transition: box-shadow 0.3s, border 0.3s;
}

.style-1 input[type="text"] {
     padding: 10px;
      border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
      border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}


/* ------- Выделение строк в таблицах ---------- */
.list_line_odd{
  background: #f1f1f1;
}




