// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
.main{
	margin-left: 20px;
}*/



.input-group{
  width: 85%;
  span.input-group-addon{
	width: 140px;
  }
}

