<!-- <h1>Your Pragmatic Catalog</h1> -->
  <table border="0" width="100%">
  <tr>
    <td> <h1><%= t('.title_html') %></h1> </td>
    <td align = "right">
        <%= render 'layouts/form_search' %>
    </td>
  </tr>
  </table>
