<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Questions page</title>
</head>
<body>
  <p>
	Данное приложение работает на сервисе <strong>`heroku clouds service`</strong>
	в бесплатном тарифном плане.
	<br>
	Отправка почтового уведомления реализована как фоновая задача и в
	текущем тарифном плане не доступна из-за ограничения хостинга.
	Поэтому, чтобы убрать ошибку при отправке сообщения на почту,
	использована заглушка в виде ссылки	на данное пояснение.
  </p>
  <p>
    Абзац
  </p>
</body>
